[Unit]
Description=Sapphire agent server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=alice
ExecStart=/usr/bin/sapphire-agent server run
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
